.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-caption);
  border-radius: var(--space-6);
  padding: var(--space-1) var(--space-3);
}

.active {
  background-color: var(--color-accent-habit-default);
  color: var(--color-neutral-0);
}

.inactive {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-500);
}
